.card {
    width: 502px;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    &-header {
        display: flex;
        justify-content: space-between;
        &-price {
            font-size: 24px;
            color: #2196F3;
        }
        &-img {
            
        }
    }
    &-body {
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        &__row {
            display: flex;
            flex-basis: 100%;
            &:nth-child(1n+2) {
                margin-top: 10px;
            }
        }
        & .row-item {
            width: 100%;
            &__header {
                font-size: 12px;
                color: #A0B0B9;
            }
            &__body {
                font-size: 14px;
            }
        }
    }
}